.h1{
    text-align: center;
    margin-top: 30px;
}
.textarea{
    position: relative;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}
textarea{
    padding: 20px 20px;
    border-radius: 10px;
    resize: none;
}
.button{
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button button{
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: rgb(78, 99, 216);
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
} 

.counts{
    position: relative;
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    justify-content: center;
}
.colorMode{
    display: flex;
    justify-content: center;
}
.colorMode button{
    cursor: pointer;
    margin: 10px 10px;
    padding: 10px 10px;
    color: white;
    background: black;
    font-size: 20px;
    border: none;
    outline: none;
}